<div id="<%= dom_id property %>">
  <p>
    <strong>Property:</strong>
    <%= property.property_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= property.email %>
  </p>

</div>
